head
	title STEPS WITH FRIENDS
	link(href='/index.css', rel='stylesheet')
	script(src='/index.js', type='text/javascript')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
	a#createdBy(href="https://github.com/mrkjdy/large-project") Group 4
	#navbar.centerVertical.shadedBox
		#leftnav.centerVertical
			a.spaced(href='/')
				h2 STEPS WITH FRIENDS
			form.spaced(onsubmit='window.location.href = \'/search/\' + encodeURI(document.getElementById("searchField").value); return false')
				input#searchField.spaced(type='text' placeholder='Search users...')
				input(type='submit' value='Search')
		#userBox.centerVertical
			if user
				a.centerVertical.spaced(href='/myprofile') 
					img.smallSpaced#smallProfile(src='/default-user-profile.svg')
					span= user.firstName + " " + user.lastName
				a.spaced(href='/settings') Settings
				a.spaced(onclick='logout(); return false') Log out
			else
				a.spaced(href='/login') Login
				div or
				a.spaced(href='/create-account') Create an Account