doctype html
html(lang='en')
	include head
	body
		#loginBox.shadedBox
			h2 STEPS WITH FRIENDS
			#loginForm
				form(onsubmit='login(); return false')
					input#uName(type='text' placeholder='Username' autofocus)
					br
					input#pWord(type='password' placeholder='Password')
					br
					input#submitLogin(type='submit' value='Login')
					br
				p Not registered? 
					a#showCreateAccount(onclick='showCreateAccount(); return false') Create an account
			#createAccountForm(style="display:none")
				form(onsubmit='createAccount(); return false')
					input#newFName(type='text' placeholder='First Name' autofocus)
					br
					input#newLName(type='text' placeholder='Last Name')
					br
					input#newUName(type='text' placeholder='New Username')
					br
					input#newPWord1(type='password' placeholder='Password')
					br
					input#newPWord2(type='password' placeholder='Confirm Password')
					br
					input#submitCreateAccount(type='submit' value='Create Account')
					br
				p Already have an account? 
					a#showLogin(onclick="showLogin(); return false") Login
			#submitMessage