doctype html
html(lang='en')
	include head
	body
		#loginBox.shadedBox
			h2 STEPS WITH FRIENDS
			if showLogin == true
				- var loginFormStyle = ""
				- var createAccountFormStyle = "display: none;"
			else
				- var loginFormStyle = "display: none;"
				- var createAccountFormStyle = ""
			#loginForm(style= loginFormStyle)
				form(onsubmit='login(); return false')
					input#username(type='text' placeholder='Username' autofocus)
					br
					input#password(type='password' placeholder='Password')
					br
					input#submitlogin(type='submit' value='Login')
					br
				p Not registered? 
					a#showCreateAccount(onclick='showCreateAccount(); return false') Create an account
			#createAccountForm(style= createAccountFormStyle)
				form(onsubmit='createAccount(); return false')
					input#newfirstname(type='text' placeholder='First Name' autofocus)
					br
					input#newlastname(type='text' placeholder='Last Name')
					br
					input#newusername(type='text' placeholder='New Username')
					br
					input#weight(type='number' placeholder='Weight in pounds')
					br
					input#height(type='number' placeholder='Height in inches')
					br
					input#password1(type='password' placeholder='Password')
					br
					input#password2(type='password' placeholder='Confirm Password')
					br
					input#submitregister(type='submit' value='Create Account')
					br
				p Already have an account? 
					a#showLogin(onclick="showLogin(); return false") Login
			#submitmessage