head
	title STEPS WITH FRIENDS
	link(href='index.css', rel='stylesheet')
	script(src='index.js', type='text/javascript')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
	p#createdBy Created by COP 4331 Group 4
	#navbar.centerVertical.shadedBox
		#leftnav.centerVertical
			a#homeButton.spaced(href='/')
				h2 STEPS WITH FRIENDS
			form.spaced(onsubmit='search(); return false')
				input#searchFields.spaced(type='text' placeholder='Search users...')
				input#submitSearch(type='submit' value='Search')
		#userBox.centerVertical
			if user
				#pendingRequests
				a#profileLink(onclick='goToMyProfile(); return false')
					img(title='My Profile' alt='My Profile')
				#downButton
				#downBox
			else
				a#loginLink.spaced(href='/login') Login
				div or
				a#createAccount.spaced(onclick='goToCreateAccount(); return false') Create an Account