doctype html
html(lang='en')
	include head
	body
		h1#tableTitle Top 100 Users
		table#indexTable.shadedBox
			tr
				th Rank
				th User
				th Points
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123
			tr
				td 1
				td test
				td 123