/* COLORS
  #8860D0 <!-- PURPLE -->
  #222629 <!-- BLACK -->
  #84CEEB <!-- LIGHT BLUE -->
  #C1C8E4 <!-- GRAY -->
  #5AB9EA <!-- BLUE -->
  #5680E9 <!-- BLUE/PURPLE -->
*/


/*////////////////////////////////////*/
/* Body styles */
/*////////////////////////////////////*/

body {
  /*background-color: #C1C8E4;*/
  background-image: linear-gradient(#84CEEB, #8860D0);
  background-attachment: fixed;
  font-family: 'Oswald';
  color: #757575;
  font-size: 16px;
  text-align: center;
  margin-top: 200px;
}

select {
  padding: 10px;
  outline: 0;
  margin: 8px 0;
  box-sizing: border-box;
}

input {
  padding: 10px;
  outline: 0;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #e2e2e2;
}

input[type=submit] {
  background-color: #5AB9EA;
  border: none;
  color: white;
  text-decoration: none;
}

input[type=submit]:hover {
  background-color: #84CEEB;
}

button {
  padding: 10px;
  outline: 0;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #e2e2e2;
  background-color: #5AB9EA;
  border: none;
  color: white;
  text-decoration: none;
}

button:hover {
  background-color: #84CEEB;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #C1C8E4;
  text-decoration: none;
  cursor: pointer;
}

.shadedBox {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.spaced {
  margin: 10px;
}

.smallSpaced {
  margin: 5px;
}

.small {
  width: 20px !important;
}

.centerVertical {
  text-align: center;
  display: flex;
  align-items: center;
}

.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  border: none;
}

.link-button:hover {
  color: #fff;
}

#linkRow:hover {
  background-color: #C1C8E4;
  cursor: pointer; 
}



/*////////////////////////////////////*/
/* Header styles */
/*////////////////////////////////////*/

#createdBy {
  position:fixed;
  margin: 0;
  padding: 1%;
  bottom: 0;
  right: 0;
  color: #000;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  background: #5680E9;
  top: 0px;
  left: 0px;
  text-decoration: none;
  justify-content: space-between;
  color: #000;
  z-index: 99 !important;
}

#leftnav {
  margin-left: 20px;
}

#userBox {
  margin-right: 20px;
}

#navbar input {
  border: 0px;
}

#smallProfile {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}


/*////////////////////////////////////*/
/* Index styles */
/*////////////////////////////////////*/

#tableTitle {
  position: relative;
  /*margin-top: 150px;*/
}

#indexTable {
  position: relative;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: #fff;
  border-radius: 4px;
  max-width: 1000px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


/*////////////////////////////////////*/
/* Login styles */
/*////////////////////////////////////*/

#loginBox {
  position: relative;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

#loginBox p {
  padding: 10px;
}

#loginBox input {
  width: 70%;
}

#submitmessage {
  padding: 10px;
  color: #F00;
}


/*////////////////////////////////////*/
/* Profile styles */
/*////////////////////////////////////*/
#profilePic {
  max-width: 100px;
  max-height: 100px;
  border-radius: 4px;
}

#profileInfo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 65%;
  max-width: 1000px;
  padding: 0px;
  border-radius: 4px;
  justify-content: space-between;
  margin-bottom: 50px;
}

#leftInfo {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

#rightInfo {
  margin-right: 40px;
}