doctype html
html(lang='en')
	include head
	body
		#loginBox
			h2 STEPS WITH FRIENDS
			#loginForm
				form(onsubmit='login(); return false')
					input#uName(type='text' placeholder='Username' autofocus)
					br
					input#pWord(type='password' placeholder='Password')
					br
					input#submitLogin.button(type='submit' value='Login')
					br
				#submitMessage
			//-
				p Not registered? 
					button#showCreateAccount(type='button' onclick='showCreateAccount()') Create an account
		//-
			#createAccountForm
				form(onsubmit='createAccount(); return false')
					input#newFName(type='text' placeholder='First Name' autofocus)
					br
					input#newLName(type='text' placeholder='Last Name')
					br
					input#newUName(type='text' placeholder='New Username')
					br
					input#newPWord1(type='password' placeholder='Password')
					br
					input#newPWord2(type='password' placeholder='Confirm Password')
					br
					input#submitCreateAccount.button(type='submit' value='Create Account')
					br
				#submitMessage
				p Already have an account? 
					button#showLogin(type="button" onclick="showLogin()") Go to login page