doctype html
html(lang='en')
	include head
	body
		h1#tableTitle Top 100 Users
		table#indexTable.shadedBox
			tr
				th Rank
				th User
				th Points
			if top
				each val, index in top
					tr
						td= index + 1
						td= val.login
						td= val.total_points