doctype html
html(lang='en')
	include head
	body
		img#profilePic
		p#profileFirstLast
		p#profileName
		button#addRemoveUser(type='button')
		p#steps Steps
		p#globalRank Global Rank
		table
			tr
				th Friend Rank
				th Friend
				th Points